# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\xampp\htdocs\Sanbercode-Batch-23\Tugas-Harian-Bagian-3\Tugas-12-MVC-Sequelize\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
